/* USER VARIABLES SECTION */

:root {
	--accent: orange;
	--text: #333;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

  /* font-family: 'EB Garamond', serif;   */
  /* font-family: 'Montserrat', sans-serif;   */
p {
  margin: 0;
}
h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 154px;
  line-height: 130px;
  letter-spacing: 0.07em;
  color: #fff;
  margin: 0;
}
h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.03em;
  color: #14274A;
  margin: 0;
}
.text-14 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.text-16 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.text-20 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.text-25 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.text-30 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}
.text-36 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.text-50 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
}

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
  margin: 0;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

/* USER STYLES */

/* HEADER */

.header {
  background-image: url(../images/home/header/hotel-fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  color:#fff;
}
.header__block {
  margin-top: 193px;
}
.header__block h2{
  color: #fff;
  letter-spacing: 0.4em;
}
.header__block .text-25 {
  letter-spacing: 0.1em;
  width: 578px;
}

.logo {
  width: 256px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__link {
  margin-left: 90px;
  color:#fff;
}
.nav__link:hover {
  text-decoration: underline;
}

.down__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-btn {
  width: 270px;
  padding: 22px 0px 25px;
  margin-top: 108px;
  display: flex;
  justify-content: center;
  background: #E0B973;
  border-radius: 8px;
  color: #fff;
  transition: ease 0.3s;
}
.book-btn:hover {
  background: #b78528;
}
.book-btn .text-25, .scroll-btn .text-25 {
  font-weight: 700;
}
.book-icon {
  margin-right: 28px;
}

.scroll-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 40px;
}
.scroll-icon {
  margin-top: 15px;
}

/* TYPES */

.border-line-1 {
  margin-right: 48px;
  width: 1px;
  height: 340px;
  background: #14274A;
}
.border-line-2 {
  margin-right: 48px;
  width: 1px;
  height: 455px;
  background: #14274A;
}

.types .text-36 {
  text-align: center;
  margin: 83px 0 93px;
}

.left__content {
  width: 576px;
}
.left__content .text-25 {
  margin: 20px 0 40px;
  line-height: 40px;
}

.types__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.type__left {
  display: flex;
  justify-content: space-between;
}

.left__btn {
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 0.05em;
  background: #E0B973;
  padding: 18px 66px 20px;
  border-radius: 10px;
  transition: ease 0.3s;
}
.left__btn:hover {
  background: #b78528;
}

.type-img {
  width: 866px;
}

/* REWIEWS */

.rewiews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 115px;
}
.rewiews h2 {
  margin: 40px 0 26px;
}
.rewiews__slider .text-25 {
  margin-top: 19px;
}

.slider__btns {
  margin-top: 20px;
}
.slider-btn {
  padding: 15px 18px;
  border-radius: 10px;
  background: #E0B973;
  transition: ease 0.3s;
}
.slider-btn:hover {
  background: #b78528;
}
.slider-btn img {
  margin: auto;
}

/* FOOTER */

.d3 {
  width: 0; 
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 60px solid #14274A;
  margin: 0 auto;
}

.foot-logo {
  width: 118px;
  margin-bottom: 22px;
}

.footer-bg {
  background: #14274A;;
}

.footer__wrapper {
  padding: 65px 0;
  color: #F7F7F7;
  display: flex;
  justify-content: space-between;
}

.footer-2, .footer-4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-2 a {
  color: #fff;
}

.footer-3 {
  display: flex;
}

.foot-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.foot-links {
  margin-left: 26px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.foot-link {
  color: #fff;
}

.footer-input {
  color: #fff;
  background: #14274A;
  width: 280px;
  padding: 14px 20px 16px 20px;
  border: 2px solid #E0B973;
}

.footer-submit {
  background: #E0B973;
  color: #14274A;
  padding: 14px 30px 16px 26px;
  margin-left: -5px;
  border: 2px solid #E0B973;
  transition: ease 0.3s;
  cursor: pointer;
}
.footer-submit:hover {
  background: #b78528;
  color: #fff;
}

